{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/core/css/bootstrap.min.css">

 
  <title> {% block title %}  {% endblock %} </title>
</head>

<body>
	  {% block header %} 

     <!--  ============== Navbar Start ========================-->

     <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-3" >
          <a class="navbar-brand" href="#page-top">FindRepeater</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto my-2 my-lg-0">
                  <li class="nav-item"><a class="nav-link" href="#about">A propos</a></li>
                  <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                  <li class="nav-item"><a class="nav-link" href="connexion">connexion</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
              </ul>
          </div>
  </nav>

     <!--  ============== Navbar End ========================-->



    {% endblock %}

	  {% block content %} 

    {% endblock %}

    {% block footer %}  

    <footer class="bg-light py-5">
      <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - FindRepeater</div></div>
  </footer>
    {% endblock %}
   
</body>
</html>
