{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/core/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/core/css/style.css">
  <link rel="stylesheet" href="/static/core/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/core/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <title> {% block title %}  {% endblock %} </title>
</head>

<body>
	  {% block header %} 

     <!--  ============== Navbar Start ========================-->

     <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm py-2">
        <a class="navbar-brand fw-bold mx-lg-5" href="{% url 'index' %}">FindRepeater</a>
        <div class="ms-auto"></div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse mx-lg-5">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 ">
                <li class="nav-item"><a class="nav-link" href=" {% url 'index' %} ">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href=" {% url 'inscriptionprof' %} ">Devenir prof</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'connexionClient' %}">Rechercher un prof</a></li>
                <li class="nav-item border border-warning bg-warning rounded-2"><a class="nav-link" href="{% url 'connexionprof' %}">Connexion</a></li>
            </ul>
        </div>
    </nav>
     <!--  ============== Navbar End ========================-->



    {% endblock %}

	  {% block content %} 

    {% endblock %}

    {% block footer %}  

    <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>FindRrepeater</h3>
            <p>
              Yaoundé, NY 535022<br>
              Cameroun <br><br>
              <strong>Phone:</strong> 656155527<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acceuil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inscriptions</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              
            </ul>
          </div>

          <div class="col-lg-4 col-md-6">
            <h4>Rejoignez nous</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <div class="d-flex justify-content-end">
                <div class="inscris py-2 px-3"><a href="#inscription" class="text-decoration-none text-white">Je m'inscris</a></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>FindRepeater</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    {% endblock %}




    {% block js %}

    <!-- JS -->

 <script src="/static/core/js/script2.js"></script>
 <script src="/static/core/js/owl.carousel.min.js"></script>

   
    <!-- Bootstrap core JS-->
  <script src="/static/core/js/bootstrap.bundle.min.js"></script>

      {% block JSPageInscription %}

<script src="/static/core/js/script.js"></script>
       {% endblock %}

        
     {% endblock %}
   
</body>
</html>
