{% extends "core/base.html"%}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %} 

<section id="hero" class="py-5">
    <div class="hero-container">
      <h1 class="text-center">Améliorez votre niveau avec nos <br> <span>professeurs en ligne</span></h1>
      <h1 class="text-center"></h1>
      <p class="text-center">Demarrez FindRepeater peut vous aider à trouver la solution pour vos cours en ligne via notre<br> <span>équipe de professeur expérimenté</span></p>
      <a href="#inscription" class="btn-get-started scrollto">Commencer</a>
    </div>
  </section>

{% endblock %}