{% extends "core/base.html"%}

{% load static %}

{% block title %}Home{% endblock %}
 
{% block content %}
<main class="py-5 d-flex justify-content-center">
  <div class="stepper">
    <div class="step--1 step-active"></div>
    <div class="step--2"></div>
    <div class="step--3"></div>
    <div class="step--4"></div>
      
  </div>

  <form class="form form-active px-lg-4 my-5 py-5">
    <div class="py-2">
      <h1 class="text-center">Candidatez pour Devenir Prof</h1>
      <hr
      class="align-content-center mx-auto"
      style="width: 120px; height: 6px; background:linear-gradient(to right, orangered, yellow);"
      />
    </div>
   <p class="">Etape 1: Lorem ipsum dolor sit amet consectetur adipisicing, elit. Et modi repellat aliquam pariatur voluptates blanditiis nulla dicta fugiat ab consequatur asperiores accusamus adipisci fugit temporibus cum.</p> 
  <hr class="bg-warning" />
    <div class="form-group">
      <input type="file" class="form-control" name="image" id="image">
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="civilite">Civilité</label>
      <select class="custom-select mr-sm-2" id="civilite">
        <option></option>
      </select>
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" name="nom" id="nom" placeholder="Entrez votre nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Entrez votre Prénom">
    </div>
    <div class="form-group">
      <label for="telephone">Télephone</label>
      <input type="text" class="form-control" name="telephone" id="telephone" placeholder="Entrez votre Prénom">
    </div>

    <div class="form-group">
      <em class="text-danger">{{form.email.errors}}</em>
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Entrez votre Email">
    </div>
    <div class="form-group">
      <em class="text-danger">{{form.password.errors}}</em>
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" name="password1" id="password1" placeholder="Entrez votre mot de passe">
    </div>
    <div class="form-group">
      <em class="text-danger">{{form.password.errors}}</em>
      <label for="password">Confirmez votre mot de passe</label>
      <input type="password" class="form-control" name="password2" id="password2" placeholder="Entrez votre mot de passe">
    </div>
    <button class="form__btn" id="btn-1" type="Submit">Next</button>
  </form>

  <form class="form px-lg-4 my-5 py-5">
    <div class="form--header-container">
      <h1 class="text-center">Candidatez pour Devenir Prof</h1>
      <hr
      class="align-content-center mx-auto"
      style="width: 120px; height: 6px; background:linear-gradient(to right, orangered, yellow);"
      />
      <p class="">Etape 2: Lorem ipsum dolor sit amet consectetur adipisicing, elit. Et modi repellat aliquam pariatur voluptates blanditiis nulla dicta fugiat ab consequatur asperiores accusamus adipisci fugit temporibus cum.</p> 
    </div>
    <div class="form-group">
      <label for="enseignant">Enseignant</label>
      <input type="text" class="form-control" name="enseignant" id="enseignant">
    </div>
    <div class="form-group">
     <label for="selection">Matière</label>
     <select id="matiere" class="form-control">
       <option value="">Liste de choix...</option>
     </select>
   </div>
   <div class="form-group">
     <label for="selection">Classes</label>
     <select id="classe" class="form-control">
       <option value="">Liste de choix...</option>
     </select>
   </div>
   <div class="form-group">
     <label for="jour">Jours</label>
     <select id="jour" class="form-control">
       <option value="">Liste de choix...</option>
     </select>
   </div>
   <div class="form-group">
     <label for="heure">Heure de début des cours</label>
     <select id="heure" class="form-control">
       <option value="">Liste de choix...</option>
     </select>
   </div>
   <div class="table-responsive my-3">
     <table class="table">
    <thead class="table-warning">
        <tr>
            <th>#</th>
            <th>Matière</th>
            <th>Classe</th>
            <th>Jour</th>
            <th>Heure</th>
            <th>Durée</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Anglais</td>
            <td>1ere C</td>
            <td>Mardi</td>
            <td>10h</td>
            <td>2h30</td>
        </tr>          
    </tbody>
</table>
   </div>
    <button class="form__btn" id="btn-3">Valider</button>
  </form>
  <div class="form--message">
  </div>
</main>

{% endblock %}

{% block footer %}
{% endblock %}


