{% extends "core/base.html"%}

{% load static %}

{% block title %}Inscription Parent/Elève{% endblock %}

{% block content %} 
    

<section class="py-5">
    <div class="py-5">
        
  
    <div class="container border border-light rounded bg-white shadow-lg">
        <div class="row">
            <div class="col-lg-6">
                <div class="pb-lg-4 pt-lg-3">
                    <h1 class="text-center">Création de compte</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing, elit</p>
                </div>
                {% if registered %}
                    <h2>Vous êtes déja enregistré</h2>
                {% endif %}
               <form method="POST" action="#" class="px-3">
                    {% csrf_token %}

                    {{form1.as_p}}
                    {{form2.as_p}}
                    <div class="d-flex justify-content-center my-5">
                        <input class="border border-white rounded-pill py-2 px-3 text-white" type="submit" value="enregistrer" style="background-color: orange;">
                    </div>
                </form> 
        </div>
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
              <figure><img class="img-fluid" src="{% static 'core/images/signup-image.jpg' %}" alt="sing up image"></figure>
              <a href="#" class="signup-image-link"></a>
          </div>
      </div>
  </div>
</div>
  </div>
</section>

{% endblock %}