{% extends "core/base.html" %}
{% block content %} 


    <div class="main">

        <!-- Sign up form -->
        <form>
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">S'inscrire</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class=""></i></label>
                                <input type="text" name="name" id="name" placeholder="Votre nom"/>
                            </div>
                            <div class="form-group">
                                <label for="prenom"><i class=""></i></label>
                                <input type="text" name="prenom" id="prenom" placeholder="Votre prenom"/>
                            </div>
                            <div class="form-group">
                                <label for="tel"><i class="l"></i></label>
                                <input type="tel" name="email" id="tel" placeholder="votre numero de tel"/>
                            </div>
                            <div class="form-group">
                                <select>
                                    <option>
                                        info
                                    </option>
                                    <option>
                                        maths
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select>
                                    <option>
                                        info
                                    </option>
                                    <option>
                                        maths
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="niveau"><i class=""></i></label>
                                <input type="text" name="niveau" id="email" placeholder="votre niveau"/>
                            </div>
                            <div class="form-group">
                                <label for="ville"><i class=""></i></label>
                                <input type="text" name="ville" id="illeemail" placeholder="votre ville"/>
                            </div>
                            
                            <div class="form-group">
                                <label for="classes"><i class=""></i></label>
                                <input type="text" name="classes" id="classes" placeholder="vos classes"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="votre e-mail"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class=""></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class=""></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <label for="image"><i class=""></i></label>
                                <input type="file" name="image" id="image" placeholder=""/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class=""><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                            
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}