{% extends 'core/base.html' %}
{% load static %}

{% block title %} Profil enseignant {% endblock %}

{% block content %}


<br><br>
<div class="container ">
    <div class="team_container">
        <div class="py-2">
            <h1 class="fw-fold text-center">Notre équipes de professeurs</h1>
            <hr
           class="align-content-center mx-auto"
           style="width: 120px; height: 6px; background:linear-gradient(to right, orangered, yellow);"
           />
          </div>
    <div class="row">
        <div class="col-md-4"><br><br><br><br>    <div class="box-profile">
            <div class="cover-photo">
                <img src="{% static 'core/img/profile.jpg' %}" class="profile" alt="">
            </div>
            <div class="profile-name">Mr nom prenom</div>
            <p class="age"> Age : 20 ans</p>
            <p class="ville">Ville, quartier</p>

            <button class="msg-btn">Contacter</button>
            <button class="follow-btn">profile </button>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
    
            </div>
        </div></div>
        <div class="col"><br><br><br><br>     <div class="box-profile">
            <div class="cover-photo">
                <img src="{% static 'core/img/profile.jpg' %}" class="profile" alt="">
            </div>
            <div class="profile-name">Mr nom prenom</div>
            <p class="age">Age : 20 ans</p>
            <p class="ville">Ville, quartier</p>

            <button class="msg-btn">Contacter</button>
            <button class="follow-btn">profile </button>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
    
            </div>
        </div></div>
        <div class="col">  <br><br><br><br>   <div class="box-profile">
            <div class="cover-photo">
                <img src="{% static 'core/img/profile.jpg' %}" class="profile" alt="">
            </div>
            <div class="profile-name">Mr nom prenom</div>
            <p class="age"> Age : 20 ans</p>
            <p class="ville">Ville, quartier</p>

            <button class="msg-btn">Contacter</button>
            <button class="follow-btn">profile </button>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
    
            </div>
        </div></div>
        <div class="col">    <div class="box-profile">
            <div class="cover-photo">
                <img src="{% static 'core/img/profile.jpg' %}" class="profile" alt="">
            </div>
            <div class="profile-name">Mr nom prenom</div>
            <p class="age">Age : 20 ans</p>
            <p class="ville">Ville, quartier</p>

            <button class="msg-btn">Contacter</button>
            <button class="follow-btn">profile </button>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
    
            </div>
        </div></div>
        <div class="col">    <div class="box-profile">
            <div class="cover-photo">
                <img src="{% static 'core/img/profile.jpg' %}" class="profile" alt="">
            </div>
            <div class="profile-name">Mr nom prenom</div>
            <p class="age">Age : 20 ans</p>
            <p class="ville">Ville, quartier</p>

            <button class="msg-btn">Contacter</button>
            <button class="follow-btn">profile </button>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
    
            </div>
        </div></div>
        <div class="col">    <div class="box-profile">
            <div class="cover-photo">
                <img src="{% static 'core/img/profile.jpg' %}" class="profile" alt="">
            </div>
            <div class="profile-name">Mr nom prenom</div>
            <p class="age"> Age : 20 ans</p>
            <p class="ville">Ville, quartier</p>
            <button class="msg-btn">Contacter</button>
            <button class="follow-btn">profile </button>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
    
            </div>
        </div></div>
    </div>
</div>




{% endblock %}