<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Profile </title>
        <link rel="stylesheet" href="profile.css" />
    </head>
    <body>
        <main>
            <section class="glass ">
                <div class="dashboard">
                    <div class="user">
                        <img src="icon.PNG" alt="" />
                        <h3>TEUDJO ephraim Elise</h3>
                        <p> BAC+ 5 en math, physique,production,qualité,mécanique</p>
                    </div>
                    <div class="links">
                        <div class="link">
                            <img src="" alt="" />
                            <h3> categorie: </h3>
                            <p> 4 étoiles</p>
                        </div>
                        <div class="link">
                            <img src="" alt="">
                            <h3> langue utilisé: </h3>
                            <p> Francais </p>
                        </div>
                    </div>
                </div>
                <div class="profil">
                    <div class="status">
                       Nom:
                       <div class="nom">

                       </div>
                       Prénom:
                       <div class="prenom">
                            
                       </div>
                       Age:
                       <div class="age">

                       </div>
                       Ville de Résidence:
                       <div class="ville">

                       </div>
                       Quartier:
                       <div class="quartier">

                       </div>

                    </div>
                    <div class="cards">
                    </div>
                </div>
            </section>
        </main>
        <div class="circle1"></div>
        <div class="circle2"> </div>
        <section class="fin">
            <input type="button" value="RECRUTER" class="recruter">
            <p> Commentaires et avis sur ce répétiteur</p>
        </section>
    </body>
</html>