{% extends 'core/base.html' %}
{% load static %}

{% block title %} Profil enseignant {% endblock %}

{% block content %}

<style>
    .contact a i{
        font-size: 30px;
    }
</style>

<section class="py-5">
    <div class="py-5">
        <div class="container border border-light rounded bg-white shadow-lg text-center">
            <p><h1>Profil de mon enseignant</h1></p>
        </div> 
        
    </div>
    <div class="container">
        <p>civilite : {{cours.repetiteur.civilité}}</p>
        <p>nom : {{cours.repetiteur.user.last_name}}</p>
        <p>prenom : {{cours.repetiteur.user.first_name}}</p>
        <p>âge : {{cours.repetiteur.age}}</p>
        <p>téléphone : {{cours.repetiteur.telephone}}</p>
        <p>addresse mail : {{cours.repetiteur.user.email}}</p>
        <p>niveau d'étude : {{cours.repetiteur.niveauEtude}}</p>
        <p>ville : {{cours.repetiteur.ville}}</p>
        <p>quartier : {{cours.repetiteur.quartier}}</p>

        <div class="card card-body" style="background-color: #ebeff5;">
            <span class="text-center" style="font-size: 25px; padding-bottom: 10px; color: orange;">
                Liste des cours enseignés
            </span>
            <style>
                th{border-right: orange solid 1px;}
            </style>
            <div class="table-responsive text-center">
                <table class="table table-sm table-hover">
                    <tr style="border-bottom: orange solid 3px; background-color: rgb(216, 210, 200);">
                        <th>Matière</th>
                        <th>Classe</th>
                        <th>Jour</th>
                        <th>Début</th>
                        <th>Durée</th>
                        <th>Ville</th>
                    </tr>

                    {% for c in coursList %}
                        {% if c.repetiteur.user.id == cours.repetiteur.user.id %}
                            <tr>
                                <th>{{c.matiere}}</th>
                                <th>{{c.classe}}</th>
                                <th>{{c.jour}}</th>
                                <th>{{c.heure_début}}</th>
                                <th>{{c.duree}}</th>
                                <th>{{c.repetiteur.ville}}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </table>
            </div>
        </div>

        <style>
            .contact a{
                border-radius: 0;
                width: 150px;
                font-weight: bold;
                padding-left: 0;
                padding-right: 0;
            }
        </style>
        <div class="pt-5 text-center contact">
            <span class="text-center" style="font-size: 25px; color: orange;">
                Contacts <br><br>
            </span>
            <a style="background-color: orange" class="text-center btn" href="https://wa.me/{{cours.repetiteur.telephone}}?text=Salut prof, j'ai visité la plateforme findrepeater.com et je suis intéressé par vous services de répétiteur">
                <i style="color: green;" class="fab fa-whatsapp"></i><br>
                whatsapp
            </a>
            <a style="background-color: rgb(246, 239, 162);;" class="text-center btn" href="mailto:{{cours.repetiteur.user.email}}?subject=Recherche d'un répétiteur&body=Salut prof, j'ai visité la plateforme findrepeater.com et je suis intéressé par vous services de répétiteur">
                <i style="color: red;" class="far fa-envelope"></i><br>
                mail
            </a>
            <a style="background-color: rgb(226, 214, 86);" class="text-center btn" href="tel:{{cours.repetiteur.telephone}}">
                <i style="color: #000;" class="fas fa-mobile-alt"></i><br>
                appel
            </a>
        </div>        
        
        
    
    
    
    
    
    
    
    
    
    </div>
    

</section>

{% endblock %}