* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: orange;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2,
p{
    color: #000000;
    font-weight: 500;
    opacity: 0.8;
}
h3{
    color: orange;
    font-weight: 600;
    opacity: 0.8;
}
main{
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#f5f5f5ec,#eaf1f377);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background: rgba(255, 243, 236, 0.979);
    min-height: 80vh;
    width: 60%;
    z-index: 3;
    display: flex;
    border-radius:  10px;
    box-shadow: 2px 2px 12px rgba(49, 45, 45, 0.678);
}
.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom,
        rgb(235, 77, 4),
        rgba(255,255,255,0.5)
    );
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}
.circle1{
    top: 5%;
    right: 15%;
    background: linear-gradient(to right bottom,
        rgb(240, 89, 19),
        rgb(255, 123, 0)
    );
}
.circle2{
    bottom: 5%;
    left: 10%;
}
.dashboard{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255,255,255,0.3)
    );
    box-shadow: 6px 8px 6px rgba(122, 122, 122, 0.842);
}
.link{
    display: flex;
    margin: 2rem 1.5rem;
    padding: 1rem 5rem;
    align-items: center;
}
.link h2{
    padding: 0rem 2rem;
}
.profil{
    flex: 2;
}
.pro{
    background: linear-gradient(to right top,orange,#030c0e77);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
}
.pro img{
    position: absolute;
    top: -10%;
    right: 10%;
}
.pro h2{
    width: 40%;
    color: white;
    font-weight: 600;
}

.status div{
    margin: 1rem;
    margin-bottom: 2rem;
}

/*GAMES */

.profil {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card{
    display: flex;
    background: linear-gradient(to right bottom,
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.9)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.842);
}
.fin{
    margin: 3rem;
    text-align: center;
}
.recruter{
    padding: 0.5rem;
    margin: 2rem;
    background: linear-gradient(to right top,rgba(255, 141, 34, 0.979),#f08842c7);
    border-radius: 2rem;
    color: white;

}
/* Fin games */


