<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Profile </title>
        <link rel="stylesheet" href="profile.css" />
    </head>
    <body>
        <main>
            <section class="glass ">
                <div class="dashboard">
                    <div class="user">
                        <img src="icon.PNG" alt="" />
                        <h3>NOM profil</h3>
                        <p> niveau reconnu </p>
                    </div>
                    <div class="links">
                        <div class="link">
                            <img src="" alt="" />
                            <h2> categories du service </h2>
                        </div>
                        <div class="link">
                            <img src="" alt="">
                            <h2> langue principale </h2>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="" alt="">...
                        <img src="" alt="">...
                        <img src="" alt="">...
                    </div>
                </div>
                <div class="games">
                    <div class="status">
                        <h1> Information </h1>
                        <input type="text" />
                    </div>
                    <div class="cards">
                        <div class="card">
                            <img src="" alt="" />
                            <div class="card-info">
                                <h2>General</h2>
                                <p> info de general </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="" alt="" />
                            <div class="card-info">
                                <h2>Enseigne</h2>
                                <p> info de enseigne </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="" alt="" />
                            <div class="card-info">
                                <h2>Disponibilité</h2>
                                <p> info de Disponibilité </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="" alt="" />
                            <div class="card-info">
                                <h2>Formation et Occupation</h2>
                                <p> info de Formation et Occupation </p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="" alt="" />
                            <div class="card-info">
                                <h2>Experience</h2>
                                <p> info de Experience </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="circle1"></div>
        <div class="circle2"> </div>
        <section class="fin">
            <input type="button" value="RECRUTER" class="recruter">
            <p> Commentaires et avis sur ce répétiteur</p>
            <div class="messagerie">
                <div class="textm">
                    Vous devez vous connecter pour écrire un avis.
                    vous avew déjà un compte ?
                    <a href=""> connectez-vous </a>sinon<a href=""> Inscrivez-vous  </a>
                    ,c'est gratuit et rapide 
                </div>
                <div class="valide">
                    <input type="text" placeholder="ecrivez votre message" id="message">
                    <input type="button" value="envoyer" id="envoyer">
                </div>
            </div>
        </section>
    </body>
</html>