{% extends 'core/base.html' %}
{% load static %}

{% block title %} Profil enseignant {% endblock %}

{% block content %}
     <style>
        body {
            background: orange;
        }

        .form-control {
            background-color: #fbfbff;
        }


        .form-control:focus {
            box-shadow: 0 0 0 1px orange;
            border-color: orange;   
        }

        .form-control:hover {
            border-color: orange;
            box-shadow: 0 0 0 1px orange;
        }
        
        .profile-button {
            background: orange;
            color: #000;
        }

        .profile-button:hover {
            background:rgba(255, 166, 0, 0.712);
            color: #000;
        }

        .labels {
            font-size: 15px;
        }
        .containere {
            padding-top: 2rem;
            position: relative;
        
            background-color: #fafafa;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media screen and (max-width: 766px) {
            section{
                background-color: rgba(255, 166, 0, 0.336);
            }
        }
    </style>   
    

    <section class=" mt-2">
        <div class="container rounded bg-white mt-4 mb-3 shadow">
            <div class="containere">
            <div class="py-2">
                <h1 class="text-center">Modification du Profil</h1>
              <hr class="align-content-center mx-auto"
              style="width: 120px; height: 6px; background:linear-gradient(to right, orangered, yellow);">
            
            <div class="row" style="border: orange solid 2px;">
                {% for rep in repList %}
                    {% if rep.user.id == user.id %}
                <div class="col-md-3 border-right shadow-lg">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="{% static 'core/img/profile.jpg' %}">
                        <span class="font-weight-bold">{{rep.user.username}}</span>
                        <span class="text-black-50">{{rep.user.email}}</span>
                        <span class="pt-4"> 
                            {{err}}
                            {{err2}}
                        </span>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}

                <div class="col-md-9">
                    <div class="py-2 px-3 m-2">

                        <form method="POST" action="#">
                            {% csrf_token %}

                            <div class="text-center py-3" style="color: orange;">
                                <h4>Informations personnelles</h4>
                            </div>

                            <div class="row mt-2 text-center">
                                <div class="form-group col-md-2">
                                    Civilité {{rep_form.civilité}}
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <label class="labels">Nom</label>
                                    {{user_form.last_name}}
                                </div>
                                <div class="col-md-4">
                                    <label class="labels">Prénom</label>
                                    {{user_form.first_name}}
                                </div>
                            </div>
                            <div class="row mt-3 text-center">
                                <div class="col-md-2">
                                    <label class="labels">Âge</label>
                                    {{rep_form.age}}
                                </div>
                                <div class="col-md-4">
                                    <label class="labels">Email</label>
                                    {{user_form.email}}
                                </div>
                                <div class="col-md-3">
                                    <label class="labels">Téléphone</label>
                                    {{rep_form.telephone}}
                                </div>
                                <div class="col-md-3">
                                    <label class="labels">niveau d'étude</label>
                                    {{rep_form.niveauEtude}}
                                </div>
                            </div>
                            <div class="row mt-3 text-center">
                                <div class="col-md-3">
                                    <label class="labels">Ville</label>
                                    {{rep_form.ville}}
                                </div>
                                <div class="col-md-3">
                                    <label class="labels">Quartier</label>
                                    {{rep_form.quartier}}
                                </div>
                                <div class="col-md-6">
                                    <label class="labels">Photo de profil</label>
                                    {{rep_form.photoProfil}}
                                </div>
                            </div>

                            <div class="text-center pt-4 mt-4" style="color: orange;">
                                <h4>Informations de connexion</h4>
                            </div>

                            Nom d'utilisateur
                            <div class="row mt-3 text-center">
                                <div class="col-md-3">
                                    {{user_form.username}}
                                </div>
                                <div class="col-md-5">
                                    <em class="text-danger">{{form.password.errors}}</em>
                                    {{user_form.password1}}
                                </div>
                                <div class="col-md-4">
                                    <em class="text-danger">{{form.password.errors}}</em>
                                    {{user_form.password2}}
                                </div>
                            </div>

                            <div class="col-md-4 offset-md-4 mt-4 text-center">
                                <input class="btn btn-primary rounded-pill profile-button text-black" type="submit" value="Sauvegarder" style="background-color: orange;">
                            </div>   
                        </form>
                    
                    </div>

                </div>            
            </div>
            </div>
        </div>
    </section>

    <script>
		var form_fields = document.getElementsByTagName('input')
		
		form_fields[11].placeholder='Taper le nouveau mot de passe...';
		form_fields[12].placeholder='Ratapez le mot de passe...';

		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>

{% endblock %}
    
    {% block footer %}  

    {% endblock %}