{% extends 'core/base.html' %}

{% block title %} Connexion Client {% endblock %}

{% block content %}

<section class="py-5" style="background-image:url(../../static/core/img/bgform.jpg); background-attachment: fixed; background-repeat:no-repeat; background-size: cover;">
  <div class="container">
   <div class="row pt-5">
    <div class=" col-md-6 offset-md-3 border border-light rounded bg-white shadow-lg">
      <form action="#" method="post">
       <div class="py-2">
         <h1 class="fw-fold text-center">Connexion</h1>
       </div>
       <hr class="align-content-center mx-auto"
       style="width: 120px; height: 6px; background:linear-gradient(to right, orangered, yellow);">
         {% csrf_token %}
       
       
       <div class="py-2">
         <label for="username">Nom d'utilisateur</label>
         <input class="form-control" type="text" name="username" id="username" placeholder="votre nom d'utilisateur" required="">
       </div>
       
       <div class="py-3">
         <label for="password">Mot de passe</label>
         <input class="form-control" type="password" name="password" id="password" placeholder="votre mot de passe" required="">
       </div>
       

       {% for message in messages %}
        <p style="border: red solid 1px; border-radius: 5px 5px;" class="text-center text-danger p-3">{{message}}</p>
      {% endfor %}

       <div class="text-center my-3">
            {% if user.is_authenticated %}
              <p style="border: green solid 1px; border-radius: 5px 5px;" class="text-center text-success p-3">
                Vous êtes déja connecté en tant que <b>{{request.user.username}}
              </p>
              <p>
                <a class="btn border-white rounded-pill py-2 px-4 text-black" style="background-color: orange;" href="{% url 'user_logout' %}"> Deconnexion</a>
              </p>
            {% endif %}
            {% if not user.is_authenticated %}
              <input class="border border-white rounded-pill py-2 px-4 text-black" type="submit" value="connexion" style="background-color: orange;"><br><br>
              <p class="text-center">Vous n'avez pas de compte ? <a href="{% url 'inscriptionClient' %}">S'inscrire</a></p>
              {% endif %}
          </div>
      </form>

    </div>
   </div>
 </div>
</section>
{% endblock%}