{% extends 'core/base.html' %}

{% block title %} Connexion Client {% endblock %}

{% block content %}

<section class="py-5">
    <div class="py-lg-5">
        <div class="container">
            <div class="row">
                <div class="pb-5 pt-4 mt-5 col-md-6 offset-md-3 border border-light rounded bg-white shadow-lg text-center">
                    <form action="{% url 'supprimer' cours.id %}" method="post">
                        {% csrf_token %}
                        <div>
                            <h1 class="fw-fold">Supprimer un Cours</h1>
                        </div>
                        <hr class="align-content-center mx-auto mb-4"
                        style="width: 120px; height: 6px; background:linear-gradient(to right, orangered, yellow);">
                        <div class="py-2 mb-4">
                            <p>{{cours}}</p>
                            Voulez-vous vraiment supprimer ce cours ?
                        </div>
                        <a class="btn btn-warning border border-white rounded-pill py-2 px-4 text-black" href="{% url 'monProfil' %}">
                            Annuler
                        </a>
                        <input class="btn btn-danger border border-white rounded-pill py-2 px-4" type="submit" value="Confirmer">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}